
.Structure{
    width: 100%;
    padding: 0px 70px 10px 70px;

    img{
        width: 100%;
    }
}

@media screen and (0px < width < 1300px) {
    .Structure{
        width: 100%;
        padding: 0px 15px 10px 15px;
    
        img{
            width: 100%;
        }
    }
}