@use "../../Components/Varible/Varible.scss"as * ;
.Vacancies{
    padding: 0px 70px 60px 70px;
    width: 100%;
    .items{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .item{
            width: 100%;
            border: 1px solid #BCBCBC;
            border-radius: 10px;
            overflow: hidden;
            .info{
                display: flex;
                height: auto;
                padding: 20px 15px;
                border-bottom: 1px solid #BCBCBC;
                &:last-child{
                    border:none;
                }
                .info_name{
                    width: 30%;
                    color: var(--gray);
                    p{
                        font-size: 1em;
                    }
                }
                .info_body{
                    width: 70%;
                    color: var(--black);
                    p{
                        font-size: 1.1em;
                        font-weight: 400;
                    }
                    span{
                        color: var(--main);
                        @include center;
                        justify-content: start;
                        gap: 10px;
                        svg{
                            font-size: 1.1em;
                        }
                    }
                    button{
                        padding: 8px 30px;
                        @include btnStyle;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}
@media screen and (0px < width < 800px)  {
    .Vacancies{
        padding: 0px 15px 30px 15px;
        .items{
            .item{
                .info{
                    flex-wrap: wrap;
                    .info_name{
                        width: 100%;
                        color: var(--gray);
                        p{
                            padding: 0px 0px 10px 0px;
                        }
                    }
                    .info_body{
                        width: 100%;
                        button{
                            padding: 12px 30px;
                            width: 100%;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (800px < width < 1300px)  {
    .Vacancies{
        padding: 0px 15px 30px 15px;
        .items{
            .item{
                .info{
                    .info_name{
                        width: 30%;
                        color: var(--gray);
                        p{
                            padding: 0px 0px 10px 0px;
                        }
                    }
                    .info_body{
                        width: 70%;
                        button{
                            padding: 10px 30px;
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    }
}