@use "../../Components/Varible/Varible.scss" as *;
.News {
  width: 100%;
  padding: 0px 70px 40px 70px;
  background-color: var(--background);
  .NewsPage_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
  }
  .pagination {
    width: 100%;
    margin-top: 20px;
    @include center;
    flex-wrap: wrap;
    .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
      background-color: var(--main);
      color: var(--white);
    }
    .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
      background-color: var(--white);
      color: var(--mainText2);
    }
    li {
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
}
@media screen and (0 < width < 500px) {
  .News {
    padding: 0px 15px 0px 15px;
    background-color: var(--white);

    .NewsPage_boxes {
      justify-content: center;
      .NewsPage_boxes_box {
        h3 {
          font-size: 1.2em;
        }
      }
    }
  }
}
@media screen and (500px < width < 850px) {
  .News {
    padding: 0px 20px 0px 20px;
    background-color: var(--white);

    .NewsPage_boxes {
      justify-content: space-between;
      .NewsPage_boxes_box {
        width: 48%;
        h3 {
          font-size: 1em;
        }
      }
    }
  }
}
@media screen and (850px < width < 1000px) {
  .News {
    padding: 0px 20px 20px 25px;
    background-color: var(--white);

    .NewsPage_boxes {
      justify-content: space-around;
      .NewsPage_boxes_box {
        h3 {
          font-size: 1.3em;
        }
      }
    }
  }
}
@media screen and (1000px < width < 1350px) {
  .News {
    padding: 0px 20px 20px 25px;
    background-color: var(--white);

    .NewsPage_boxes {
      justify-content: space-between;
      .NewsPage_boxes_box {
        width: 32%;
        h3 {
          font-size: 1.1em;
        }
      }
    }
  }
}
